<div class="container-fluid"> 

    <!-- <div class="col-1"></div> <div class="col-1"></div>
    <div class="col-1" (click)="home_page()"><i class='fas fa-home' style='font-size:38px;color:rgb(214, 223, 245)'></i></div> -->

    <div class="text-center">
        <br>
        <h1 class="mt">All Files</h1>
        <div class="container search-box" class="text-center">
            <label><b>Search Head Count: </b></label>&nbsp;
            <label><input class="form-control" type = "text" name="search" [(ngModel)]="searchText_files" placeholder ="Enter here" /></label> <br>
        </div> 
    </div>

    <!--================================ : Retrive Operation : =====================================-->
    <table class="table table-striped table-hover">
        <tr class="_head">
            <th>#Id</th>
            <th>File Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Date-Time</th>
            <th>Delete</th> &nbsp;&nbsp;
            <th>Download</th>
        </tr>
        <tr class="_value" *ngFor="let fs of files_array | filter:searchText_files | paginate: {
                                                                                                itemsPerPage: tableSize,
                                                                                                currentPage: pageNo,
                                                                                                totalItems: count
                                                                                                }; let i=index"> 
            <td>{{i+1}}</td>
            <td>{{fs.id}}</td>
            <td style="color:rgb(142, 8, 220);font-size:larger;">{{fs.name}}</td>
            <td>{{fs.type}}</td>
            <td style="color:rgb(33, 7, 233);">{{fs.date_time}}</td>
            <!--=============== Delete Operation ============-->
            <td><button class="btn btn-danger" (click)="delete_Files(fs.id)" style="color:red;"><img src="https://cdn-icons-png.flaticon.com/128/6343/6343622.png" alt="" width="30"></button> </td> &nbsp;&nbsp;
            <!--=============== Download Operation ============-->
            <td><i class="btn btn-success" (click)="download_files(fs.id)"><img src="https://cdn-icons-png.flaticon.com/128/5791/5791822.png" alt="" width="30"> </i> </td>
        </tr>
    </table>

    <!--=======================================  : Pagination Controls : ===============================================-->

    <div class="container">
        <div class="row">

            <div class="col"></div>
            <div class="col" id="pagi">
                <!--======================  : Table Size Controls : ================================-->
                <select (change)="on_table_size_change($event)">
                    <option *ngFor="let size of tableSizes">{{size}}</option>
                </select>

                <!--======================  : Page Number Controls : ================================-->
                <pagination-controls
                    previousLabel="Prev" nextLabel="Next"
                    (pageChange)="on_table_data_change($event)">
                </pagination-controls>
            </div>
            <div class="col"></div>

        </div>
    </div> 

</div>

