<div class="text-center mt-3 mb-3">
      <img id="logo" width=250 height=170 src="../../../assets/welcome_logo.jpeg" alt="file logo" >
      <br>
</div>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple Angular Project for uploading files like .pdf, .doc, .exe, .ppt, .png, .jpg, .jpe, .mp3, mp4, .zip, .html, .css, .ts, .js, .java, .py, .sql etc upto 4 mb. This files are stored into file_db database. We can Download and Delete all the respective files with respected to File-Id. This project has only one table named "files" having 'id' i.e PK, name, type, data are the fields. In this project for Spring-Boot 'date' is of 'byte[]' type, for MySQL 'date' is of 'longblob' type, for Angular 'date' is of 'any' type. </p>
        <hr class="mt-1">
        <p>You can refer this project according to your requirements. We have used Spring Boot for Backend, Angular for Frontend, MySQL database to Store data. Spring jpa, spring web, jdbc, mysql, devtools this dependencies are used.</p>
        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>
    <br>
</div>